.content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

label {
    font-size: 1.2em;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    color: #fff;
    background-color: #5bc0de;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

button.btn-primary {
    background-color: #f0ad4e;
}

button:hover {
    opacity: 0.8;
}

.error {
    color: red;
    font-size: 0.9em;
}
